.footer{ height: 50px; width: calc(100% - 60px); padding:25px 30px; float: left; }
.footer__logo{ background-image: url(logo/www.knobcreek.com-1311011787501770.svg); background-repeat: no-repeat; width: 75px; height: 40px; float: right; background-size: contain; }

.footer__social{ width: 50%; }
.footer__social:before{ content: 'SHARE ON'; float: left; margin: 0; display: block; line-height: 40px; color: tan;     margin-left: 0px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px; }


.footer{

	.footer__social{

    	li{ float: left; }
    	a{ background-size: cover; margin: 10px; background-color:tan; text-indent: -3000px; }

    	.Twitter a{ display: block; -webkit-mask-image: url(iconography/twitter.svg); -mask-image: url(iconography/twitter.svg); width:22px; height:22px; background-size: cover; }
    	.Facebook a{ display: block; -webkit-mask-image: url(iconography/facebook-f.svg); -mask-image: url(iconography/facebook-f.svg); width:11px; height:21px; background-size: cover; }

    }

}


@media only screen and (max-width: 599px) {


	.footer__social:before{ font-size: 12px; }

}